@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
padding: 0px;
margin: 0px;  
font-family: 'Overpass', sans-serif;
color:white
}
body{
    background-color:
    rgb(0, 0, 0);
    width: 100%;
    padding-bottom: 15vh;
 /* background-image:url(./DSC08338.JPG); */
 background-size: cover;
    
}



.navbar{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    color: orange;
    justify-content: space-around;
    position: fixed;
    /* border-bottom: 2px solid white; */
    opacity: 0.85;
}

#logoimg{
    height: 8vh;
    /* margin-left: 5%; */
}

nav{
    display: flex;
    width: 50%;
    justify-content: space-around  ;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
#active{
    color: orange;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}
.dummy{
    height: 10vh;
    background-color: black;
}
.main{
    
    width: 100%;
    display: flex;
    height:37vw ;
    /* border-bottom: 2px solid white; */
}
.name{
    width: 55%;
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-image: url("./bg.png"); */
    align-items: center;
}
.name h1{
    font-size: 9vw;
    text-shadow: 2px 2px 8px rgb(0, 0, 0); 
    word-spacing: 10px;
}
.name p{
    font-size: 2vw;
    position: relative;
    margin-top: -15%;
    color: black;
}
.main img{
    width: 45%;
  
}
.about{
    text-align: center;
    font-size: 1.6vw;
    height: auto;
    align-items: center;
    justify-content: center;
    margin:5% 15% 5% 15%;
    padding-bottom: 2%;
    line-height: 130%;
    color: white;
    /* text-shadow: 1px 1px rgb(0, 0, 0); */
}
.lineclass{
    border-bottom: 1px solid white;
}
.product{
    text-align: center;
    /* background-color: white; */
    padding:3%;
}
.product h1{
    color: orange;
}













/* slider..................................... */
.mainslider{
    /* height: 800px; */
    display: flex;
    justify-content: center;
    align-items: center;  
}
.slider{
    width:1000px;
    /* height:800px; */
    /* border-radius: 10px; */
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 600px;
     display: flex;
}
.slides input{
    display: none; 
}
 .slide {
     width: 20%;
     transition: 2s;
 }
 .slide img{
     width: 1000px;
     height: 600px;
 }

 .navigationmanual{
 position: absolute;
 width: 1000px;
 margin-top: -40px;
 display: flex;
 justify-content: center;
 }

 .manualbtn{
    border:2px solid rgb(255, 255, 255);
    padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
 }
 .manualbtn:not(:last-child){
     margin-right: 40px;
 }
 .manualbtn:hover{
     background: rgb(90, 90, 90);
 }
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigationauto{
    position: absolute;
    width: 1000px;
    display: flex;
   
    justify-content: center;
    margin-top: 560px;
}
.navigationauto div{
    border:2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigationauto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigationauto .autobtn1{
    background-color: rgb(88, 88, 88);
}
#radio2:checked ~ .navigationauto .autobtn2{
    background-color: rgb(88, 88, 88);
}
#radio3:checked ~ .navigationauto .autobtn3{
    background-color: rgb(88, 88, 88);
}
#radio4:checked ~ .navigationauto .autobtn4{
    background-color: rgb(88, 88, 88);
}


/*Below slider*/
.proddesc{
    margin-top: 0%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-wrap: wrap;
    margin-bottom: 7%;
}

.prodbox {
    width: 400px;
    margin: 1%;
    height: 30vh;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* background-color: grey; */
    line-height: 2;
}

.prodbox h1{
    font-size: 400%;
    color: orange;
}
#pro2,#replace{
    display: none;
}
button{
    background-color: black;
    color: orange;
    width: 30vw;
    height: 15vh;
    border: none;
    font-size: xx-large;
}
button:focus{
    outline: none;
    border-bottom: 1px solid white;
}
#homefooter{
    width: 100%;
    color: black;
    height: 5vh;
    background-color: rgb(179, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}




.aboutus{
    
    margin-left: 4vw;
    margin-top: 5vw;

}
.aboutus h1,#footera h1,#dev h1
  {
        color: orange;
  }  

.aboutus p{
    margin-top: 1.5vh;
    margin-right: 15vh;
    text-align: left;
font-size: larger;
}

.abtfooter{
    padding:2%;  
    margin-top: 10vh;
    width: 96%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    background-color: white;
}

#footera h2,#footera h3,#dev h2,#dev h3{
    color: black;
}
#footera{
    width: 400px;
}
#dev{
    width: 400px;
    text-align: right;
}

video{
    width: 72vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid orange;
}

/* @media (max-width:700px){
   .main{
       flex-wrap: wrap;
   }
   
   
    .main div{
        width:700px;
   

     }
     .main img{
         width: 700px;
     }
} */


#homefooter{
    position: absolute ;
    margin-top: -15vh;
}

.total{
    width: 100%;
    height: 100%;
    padding-bottom: 15vh;
    position: relative;
}

